git+https://github.com/greco-project/greco_technologies.git@dev
git+https://github.com/greco-project/cpvtopvlib.git@master
git+https://github.com/rl-institut/mvs_eland.git@dev
dash
scipy
numpy==1.15.1
pandas
folium
gitpython
reverse_geocoder
staticmap
pyppeteer
demandlib
pdfkit==0.6.1
xarray==0.15.0
feedinlib==0.1.0rc2

