git+https://github.com/greco-project/greco_technologies.git@dev
git+https://github.com/greco-project/cpvtopvlib.git@master
git+https://github.com/rl-institut/mvs_eland.git@dev
dash
scipy
numpy
pandas
folium
gitpython
reverse_geocoder
staticmap
pyppeteer
demandlib
oemof
pdfkit==0.6.1

